* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #171717;
  height: 100svh;
}

.stroke {
  stroke-dasharray: 100;
  stroke: #ffffff;
  stroke-width: 3px;
  fill: none;
}
.animate {
  animation: strokeAni 0.7s forwards 1;
}

@keyframes strokeAni {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}
