body {
  background-color: #171717;
  height: 100svh;
}

.stroke {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  stroke: #ffffff;
  stroke-width: 3px;
  fill: none;
  animation: strokeAni 0.7s forwards 1;
}

@keyframes strokeAni {
  to {
    stroke-dashoffset: 0;
  }
}
